@media (max-width:991px) {
    section.banner .row{
        gap: 50px 0;
        flex-direction: column-reverse;
    }
    section.banner .image-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.banner .image-container img,section.banner .image-container.rotate img{
        margin: 0;
    }
    section.banner img{
        min-height: 500px;
    }

    section.about-us .image-container{
        left: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    section.have-question .content-container{
        margin: auto auto auto 30px;
    }
    section.have-question .content-container{
        max-width:75%;
    }
    section.featured-card .dropdown.d-flex.justify-content-center{
        width: 100%;
    }
    section.featured-card ul.dropdown-menu.row.show{
        left: -42px;
    }
    section.featured-card ul.dropdown-menu.row.show{
        width: 520px;
    }
    section.we-want-the-best.overflow-hidden.p-0 .row{
        flex-direction: column-reverse;
    }
    section.we-want-the-best .carouseel-container{
        width: 100%;
    }
    section.we-want-the-best .carousel{
        right: 0;
        top: 50px;
    }
    section.we-want-the-best .content{
        fill: var(--26004-d, #26004D);
        filter: drop-shadow(15px 15px 15px rgba(126, 0, 255, 0.40));
        background-image: none;
        width: 97%;
    }
    section.we-want-the-best{
        padding-bottom: 70px!important;
    }
    section.we-want-the-best .carousel-diamon,section.we-want-the-best .carousel{
        width: 275px;
        height: 275px;
    }
    section.we-want-the-best .content-container{
        width:90%;
        max-width: 100%;
    }
}
@media (max-width:767px) {
    section.featured-card nav.navbar.navbar-expand-xxl.bg-light{
        width: 75%;
        right: 5%;
    }
    section.banner{
        padding: 70px 20px;
    }
    section.featured-card .content{
        flex-direction: column;
    }
    section.featured-card .group-button-mobile{
        display: flex !important;
        align-items: center;
        max-width: 160px;
        justify-content: space-between;
        margin: 35px 0 20px;
    }
    section.featured-card .group-button-mobile a{
        border: none;
    }
    section.featured-card .group-button-mobile img{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    section.featured-card .group-button{
        display: none;
    }
    section.featured-card img.cards{
        min-height: auto;
    }
    section.featured-card .content{
        align-items: end;
        gap: 0 24px;
    }
    section.featured-card .content-container{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    section.featured-card nav.navbar.navbar-expand-xxl.bg-light a,section.featured-card button.btn.btn-secondary.dropdown-toggle{
        padding: 20px 12px;
    }
    section.featured-card nav.navbar.navbar-expand-xxl.bg-light{
        top: -31px;
    }
    section.we-want-the-best .content-container{
        width: 85%;
    }
    section.article .row>:not(:last-child) img{
        max-height: 360px;
    }
}
@media (max-width:575px) {
    section.featured-card img.cards{
        width: 100%;
        min-height: auto;
        max-width: 80%;
    }
    section.featured-card{
        padding-top: 87px;
    }
    section.featured-card img.cards{
        max-width: 126px;
        min-height: auto;
    }
    section.featured-card .content{
        align-items: center;
        flex-direction: column;
    }
    section.featured-card .group-button-mobile{
        margin: 10px 0;
    }
    section.featured-card ul.dropdown-menu.row.show{
        flex-wrap: wrap;
    }
    section.featured-card ul.dropdown-menu.row.show{
        width: 100%;
    }
}
@media (max-width:420px) {
    section.featured-card .group-box .row>div{
        width: 100% !important;
    }
    section.featured-card p.name,section.featured-card p.price{
        height: auto !important;
    }
    section.featured-card img.cards{
        min-height: auto;
        width: 100%;
        max-width: 100%;
    }
}