section.contact-us{
    background: url('../../../assets/img/contact-us/contact-us-content-bg.jpg')no-repeat right center/cover;
}
section.contact-us .content{
    background: url('../../../assets/img/contact-us/contact-us-form-bg.png')no-repeat center center/100% 771px;;
    max-width: 866px;
    min-height: 771px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
section.contact-us form p{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-bottom: 0;
}
section.contact-us form.wpcf7-form.invalid .wpcf7-response-output{
    margin-top: 0;
}
section.contact-us input:not([type="submit"]),section.contact-us textarea{
    border-radius: 5px;
    background: #FFF;
    padding: 15px 20px;
    width: 100%;
    border: none;
}
section.contact-us input:not([type="submit"])::placeholder,section.contact-us textarea::placeholder{
    color: #A5A5A5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    border: none;
}
section.contact-us textarea{
    max-height: 83px;
}
section.contact-us input[type="submit"]{
    border-radius: 10px;
    background: #00CBFF;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    border: none;
}
section.contact-us .content-container{
    max-width: 613px;
    margin: auto auto auto 100px;
    display: flex;
    flex-direction: column;
}
section.contact-us h1.text-uppercase.text-white{
    margin-bottom: 20px;
}
section.contact-us .content-container p.text-white{
    margin-bottom: 20px;
}
section.contact-us .contact-details{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding-bottom: 30px;
    gap: 15px 0;
}
section.contact-us .contact-details a{
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: lowercase;
    gap: 0 15px;
}
section.contact-us .contact-details a img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
section.contact-us .screen-reader-response>ul{
    display: none;
}
section.contact-us span.wpcf7-form-control-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
section.contact-us span.wpcf7-not-valid-tip,section.contact-us .wpcf7-response-output{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
}


@media (max-width:991px) {


    section.contact-us .content-container {
        margin: auto auto auto 30px;
    }

    section.contact-us .content-container {
        max-width: 75%;
    }

    
    section.contact-us .row {
        flex-direction: column-reverse;
    }

}

@media (max-width:767px) {

    section.contact-us {
        padding: 50px 0;
    }

    section.contact-us .content {
        background: url(https://innovnational.com/tcg/wp-content/themes/tcg/assets/img/homepage/have-quiestion-bg.png)no-repeat center center/cover;
        max-width: 100%;
        padding: 0 18px;
    }

    section.contact-us .content-container {
        max-width: 100%;
        margin-left: 0;
    }

    section.contact-us .contact-details {
        padding: 0 18px;
    }

}


@media (max-width:575px) {

    section.contact-us {
        margin-top: 148px !important;    
    }

    section.contact-us .row {
        gap: 30px 0;
    }

}