nav.woocommerce-breadcrumb {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 61px;
}

nav.woocommerce-breadcrumb p {
    margin-bottom: 0;
    color: var(--d-9-d-9-d-9, #212121);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}

nav.woocommerce-breadcrumb a {
    color: #565656;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}

section.feature_card {
    background: url('../../../assets/img/homepage/feature-image.jpg')no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.feature_card .content {
    display: flex;
    flex-direction: column;
    padding: 26px 18px;
    position: relative;
    border-radius: 10px;
    background: #FFF;
    height: 100%;
}

section.feature_card .content:hover {
    transition: .2s linear;
    background: rgba(0, 0, 0, 0.10);
    box-shadow: -30.43333px 30.43333px 30.43333px 0px rgba(185, 184, 184, 0.30) inset, 30.43333px -30.43333px 30.43333px 0px rgba(33, 33, 33, 0.15) inset;
}

section.feature_card .content .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

section.feature_card img.cards {
    width: 100%;
    min-height: 321px;
    object-fit: contain;
    max-width: 221px;
    margin: 0 auto 17px auto;
}

section.feature_card img.wishlist {
    width: 35px;
    height: 35px;
    object-fit: contain;
    position: absolute;
    right: 18px;
    top: 26px;
}

a.add_to_wishlist.single_add_to_wishlist.button.alt {
    display: none;
}

section.feature_card .group-box a {
    border: 1px solid #00CBFF;
}

section.feature_card .group-box a.blue-btn:hover {
    border: 1px solid #00CBFF;
    color: #00CBFF !important;
}

section.feature_card .group-box .row {
    gap: 50px 0;
}

section.feature_card .group-button {
    width: 100%;
    display: flex;
    gap: 0 7px;
}

section.feature_card .group-button>a {
    display: block;
    width: 50%;
    max-width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    text-align: center;
}

section.feature_card h2 {
    margin-bottom: 50px;
    color: #26004C;
}

section.feature_card .group-box {
    margin-bottom: 33px;
}

section.feature_card button#view-more {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #00CBFF;
    padding: 20px 40px;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.feature_card p.price {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.feature_card p.price.sale {
    color: #C40000;
}

section.feature_card p.price.sale ins {
    text-decoration: none;
}

section.feature_card .content.outofstock a#add-to-cart {
    background-color: #AAAAAA;
    border: 1px solid #AAAAAA;
    color: white !important;
}

section.feature_card .content.outofstock p.outOfStock {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 12px;
    background: #161616;
    width: 100%;
    position: absolute;
}

section.feature_card .content.outofstock img.cards {
    filter: grayscale(100%);
}

section.feature_card ul h5 img {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

section.feature_card ul.active h5 img {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

section.feature_card ul li {
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding: 25px 50px;
}

section.feature_card ul li span {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


section.feature_card ul li input[type=checkbox] {
    position: relative;
    border-radius: 3px;
    border: 1.5px solid #FFF;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 21px;
    width: 21px;
    -webkit-appearance: none;
}

section.feature_card ul li input[type=checkbox]:hover {
    opacity: 1;
}

section.feature_card ul li input[type=checkbox]:checked {
    background-color: #ffffff;
    opacity: 1;
}

section.feature_card ul li input[type=checkbox]:checked:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 6px;
    height: 12px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}


section.feature_card div#accordionExample {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: #212121;
}

section.feature_card button.accordion-button.collapsed {
    border: none;
    background-color: #212121;
}

section.feature_card button.accordion-button {
    padding: 25px 50px;
    background: var(--26004-d, #26004D);
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
}

section.feature_card .accordion-item {
    border: none;
    background-color: transparent;
}
section.feature_card .accordion-item ul{
    max-height: 500px;
    overflow-y: scroll;
}

section.feature_card .accordion-button:focus {
    box-shadow: none;
}

section.feature_card .accordion-button::after {
    background-image: url('../../../assets/img/featured_card/drop_down.png');
}

section.feature_card .accordion-button:not(.collapsed)::after {
    background-image: url('../../../assets/img/featured_card/drop_down.png');
    transform: rotate(18deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


section.feature_card .accordion-item ul::-webkit-scrollbar {
    display: none;
}

.add-to-wishlist.w-100 {
    display: none;
}

/* pagination css */

div#pagination-container {
    display: flex;
    justify-content: center;
    gap: 0 10px;
    align-items: center;
}

div#pagination-container div#pagination-numbers {
    display: flex;
    gap: 0 10px;
}

div#pagination-container a,
div#pagination-container span.current {
    padding: 10px;
    border-radius: 5px;
    background: #26004C;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
div#pagination-container span.current{
    background-color: #373737;
}
div#pagination-container a.page-link.prev,
div#pagination-container a.page-link.next,
div#pagination-container span.current.prev,
div#pagination-container span.current.next{
    background-color: transparent !important;
}

div#pagination-container>button {
    border: none;
}

div#pagination-container>button img{
    width: 24px;
    height: 24px;
}


div#pagination-container>button[disabled="disabled"]{
    display: none;
}

/* pagination end css */


@media (max-width:767px) {
    section.feature_card .content-container {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    section.feature_card .group-button-mobile {
        display: flex !important;
        align-items: center;
        max-width: 160px;
        justify-content: space-between;
        margin: 35px 0 20px;
    }

    section.feature_card .group-button-mobile a {
        border: none;
    }

    section.feature_card .group-button-mobile img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    section.feature_card .group-button-mobile {
        margin: 10px 0;
    }

    section.feature_card .group-button {
        display: none;
    }
}