@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Open+Sans:wght@700&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
section h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
    text-transform: uppercase;
}
section h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
section h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
section a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
section p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
section .blue-btn{
    padding: 20px 30px;
    border-radius: 10px;
    background: #00CBFF;
    transition: 0.5s;
}
section .blue-btn:hover{
    color: #00CBFF;
    background: #FFFFFF;
}
section .wrapper{
    max-width: 1530px;
    margin: 0 auto;
}
section{
    padding: 100px 0;
}
section img{
    max-width: 100%;
}


.narbar{
    background: url('../../../assets/img/homepage/nav-bg.jpg')no-repeat center center/cover;
}
.narbar nav{
    max-width: 1550px;
    margin: 0 auto;
    padding: 0;
    background-color: transparent !important;
}
.narbar ul#menu-tcgnavmenu{
    max-width: 707px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.narbar ul#menu-tcgnavmenu>li>a{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}
.narbar ul#menu-tcgnavmenu>li.active a{
    color: #00CBFF;
    border-bottom: 1px solid var(--00-cbff, #00CBFF);
}
.narbar .group-button{
    max-width: 125px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
.narbar a.sale-with-us{
    color: #00CBFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 10px;
    background: #FFF;
    text-decoration: none;
}
.narbar{}
.narbar{}



footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}


@media (max-width:1700px) {
    section .wrapper{
        padding: 0 5%;
    }
}
@media (max-width:1200px) {
    section .wrapper{
        padding: 0;
    }
    section{
        padding: 70px 30px;
    }
}
