section.policy {
    height: 669px;
    width: 100%;
    background-size: cover;
    background-image: url(../../../assets/img/policy/policy-section-bg.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section.policy h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
    text-transform: uppercase;
}


section.policy .content{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

section.policy .content .inner-content{
    height: 100%;
    max-width: 924px;
}



/* FLOATING MENU */

section.policy-contents .policies{
    position: sticky;
    top: 100px ;
    height: 100%;
}

section.policy-contents .policy-floating-menu{
    background-size: cover;
    background-image: url(../../../assets/img/floating-menu-highlight.png);
    background-position: center;
    background: #212121;
    max-width: 360px;
    min-height:329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    border-radius: 10px;
    background: #212121;
    box-shadow: 5px 5px 15px 0px rgba(94, 218, 250, 0.50);
}


section.policy-contents .policy-content-container{
    margin-left: 60px;
}

section.policy-contents .policy-floating-menu .content{
    width: 100%;
    height: 100%;
}

section.policy-contents .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #212121;
    border-radius: 10px;
    border-bottom: 1px solid #00CBFF;
}

section.policy-contents .policy-floating-menu .group-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section.policy-contents .policy-floating-menu .group-button a.active{
    color: #00CBFF;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.policy-contents .policy-floating-menu .group-button a{
    color: #FFF;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 15px !important;
}


/* RIGHT COLUMN - POLICY CONTENT */

section.policy-contents .tab-content h2 {
    color: #26004C;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0 !important; 
}


section.policy-contents .tab-content h2, section.policy-contents .tab-content h4 ,section.policy-contents .tab-content h5 {
    margin-top: 50px; 
    margin-bottom: 20px;
}


@media (max-width:1200px) {

    section.policy-contents .policy-content-container{
        margin-left: unset;
    }

    section.policy-contents .tab-content h2{
        margin-top: 50px !important;

    }

    section.policy-contents .policy-content-container{
        margin-left: 30px;
    }
    
    section.policy-contents .policy-floating-menu{
        padding: 25px 20px;
    }
}


@media (max-width:991px) {

    section.policy-contents .policy-content-container{
        margin-left: unset;
    }

    section.policy-contents .tab-content h2{
        margin-top: 50px !important;

    }

    section.policy-contents .policy-floating-menu{
        padding: 25px 30px;
        max-width: 100%;
    }

    
}

