section.wishlist {
    background: url('../../../assets/img/wishlist/bg.jpg')no-repeat center center/cover;
}

section.wishlist .row {
    gap: 24px 0;
}

section.wishlist nav.pagination-container {
    display: flex;
    justify-content: center;
    gap: 0 10px;
}

section.wishlist nav.pagination-container div#pagination-numbers {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

section.wishlist nav.pagination-container button {
    border: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #26004C;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.wishlist nav.pagination-container button#prev-button,
section.wishlist nav.pagination-container button#next-button {
    background: transparent;
}

section.wishlist nav.pagination-container button.pagination-number.active {
    background-color: #373737;
}